.min-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.Main-div {
  padding: 20px;
  border: 5px solid #15ba78;
  background-color: #eae0e7;
  border-radius: 40px;
  transform: translateZ(0);
  transition: transform 0.3s ease-in-out;
}

.Main-div:hover {
  transform: translateZ(10px);
}

.Button-div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 10px;
}

button {
  width: 60px;
  height: 60px;
  border: 2px solid black;
  border-radius: 30px;
  font-weight: bolder;
  font-size: 25px;
  cursor: pointer;
  color: chartreuse;
  background-color: black;
  background: linear-gradient(145deg, #2b2b2b, #3c3c3c);
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.7), -6px -6px 12px rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}

button:active {
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.7), inset -6px -6px 12px rgba(255, 255, 255, 0.3);
}
